<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/ct-core-utils/ct-app-styles.html">
<link rel="import" href="../../bower_components/ct-core-utils/ct-api-consumer-behaviour.html">

<dom-module id="<%= elementName %>">

  <template>
    <style include="ct-app-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <!-- Compose view here -->
    <p>You have a <%= pageTitle %> page!</p>

  </template>

  <script>
    Polymer({
      is: '<%= elementName %>',
      behaviors: [CT.Behaviours.ApiConsumer],

      properties: {
        refreshing: {
          type: Boolean,
          notify: true
        }
      },

      refresh: function() {
        this.refreshing = true;

      }

    });
  </script>

</dom-module>
