<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/oc-core-utils/oc-app-styles.html">
<link rel="import" href="../../bower_components/oc-core-utils/oc-api-consumer-behaviour.html">

<dom-module id="<%= elementName %>">

  <template>
    <style include="oc-app-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <!-- Compose view here -->
    <p>You have a <%= pageTitle %> page!</p>

  </template>

  <script>
    Polymer({
      is: '<%= elementName %>',
      behaviors: [OC.Behaviours.ApiConsumer],

      // Element logic here

    });
  </script>

</dom-module>
